
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav ps ps--active-y">

















        <li class="nav-item">
            <a class="nav-link" href="/en/Admin/Index">
                <i class="mdi mdi-email-outline menu-icon"></i>
                <span class="menu-title">Dash Board</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/en/Admin/Wallet">
                <i class="mdi mdi-calendar-blank menu-icon"></i>
                <span class="menu-title">Wallet</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/en/Admin/SafeDeposit">
                <i class="mdi mdi-checkbox-marked-outline menu-icon"></i>
                <span class="menu-title">Safety Deposit</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/en/Admin/affiliate">
                <i class="mdi mdi-image-filter menu-icon"></i>
                <span class="menu-title">Affiliate</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/en/Admin/Allpartners">
                <i class="mdi mdi-file-document menu-icon"></i>
                <span class="menu-title">Partners</span>
            </a>
        </li>
         </ul>
</nav>